html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.layout-wrapper .layout-header {
  position: fixed;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.layout-wrapper .layout-header .menu-toggle-button {
  position: relative;
}

.layout-wrapper .layout-header .logo {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  left: 0px;
  display: block;
  width: 250px;
  text-align: left;
  line-height: 64px;
  padding-left: 64px;
  height: 64px;
  background: url(assets/images/logo.png) no-repeat 8px 8px;
}

.layout-is-mobile .layout-header .logo {
  line-height: 56px;
  padding-left: 56px;
  height: 56px;
  background-position: 4px 4px;
}


.layout-wrapper .layout-header .layout-header-items {
  position: absolute;
  right: 0;
}

.layout-wrapper .layout-container {
  flex: 1 0 auto;
  margin-top: 64px;
}

.layout-is-mobile .layout-container {
  flex: 1 0 auto;
  margin-top: 56px;
}

.layout-wrapper .layout-container .sidenav-list {
  width: 250px;
}

.layout-is-mobile .layout-container .sidenav-list {
  margin-top: 56px;
}

.box {
  width: 330px;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.box-form .box-full-width, .box-form .btn-block {
  width: 100%;
}

.box mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.box mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

