<p>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</p>
<mat-card *ngIf="!loading" class="content-card">
  <mat-card-header>
    <mat-card-title>{{'UpdateMyPassword' | globalizationdictionary}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content" fxLayout="row wrap">
      <form class="box-form" [formGroup]="userForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'OldPassword' | globalizationdictionary }}</mat-label>
        <input matInput  type="password" formControlName="oldPassword">
        <mat-error *ngIf="!userForm.controls['oldPassword'].valid&&userForm.controls['oldPassword'].dirty">
          {{userForm.controls['oldPassword'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','OldPassword') : userForm.controls['oldPassword'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','OldPassword','8') : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'Password' | globalizationdictionary }}</mat-label>
        <input matInput  type="password" formControlName="password">
        <mat-error *ngIf="!userForm.controls['password'].valid&&userForm.controls['password'].dirty">
          {{userForm.controls['password'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Password') : userForm.controls['password'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Password','8') : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ConfirmPassword' | globalizationdictionary }}</mat-label>
        <input matInput  type="password" formControlName="confirmPassword">
        <mat-error *ngIf="!userForm.controls['confirmPassword'].valid&&userForm.controls['confirmPassword'].dirty">
          {{userForm.controls['confirmPassword'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','ConfirmPassword') : userForm.controls['confirmPassword'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','ConfirmPassword','8') : ''}}
        </mat-error>
      </mat-form-field>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button mat-button mat-raised-button (click)="backClick()"><mat-icon>keyboard_backspace</mat-icon> {{'Back' | globalizationdictionary}}</button>
    <button mat-button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="!userForm.valid"><mat-icon>save</mat-icon> {{'Save' | globalizationdictionary}}</button>
    <br>
  </mat-card-actions>
</mat-card>
