<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content">
  
</ion-router-outlet>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/Home/Index">
      <ion-icon name="home"></ion-icon>
      <ion-label>Ana Sayfa</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/User/MyProfile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Hesabım</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button routerLink="/Authentication/Login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button> -->

    <ion-tab-button (click)="presentAlertConfirm()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Çıkış Yap</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>