<mat-card class="box">
  <mat-card-header>
    <mat-card-title>
      <p style="text-align: center;"><img src="assets/images/logo2.png"></p>
      Giriş Yap
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="box-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Telefon, e-posta veya kullanıcı adı">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Parola">
      </mat-form-field>
      <button mat-raised-button color="accent" class="btn-block" (click)="submit()">Giriş yap</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/Authentication/Register">Kaydol</button>
    <button mat-button routerLink="/Authentication/ForgotPassword">Şifremi Unuttum</button>
  </mat-card-actions>
</mat-card>
