<p>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</p>
<mat-card class="box">
  <mat-card-header>
    <mat-card-title>
      <p style="text-align: center;"><img src="assets/images/logo2.png"></p>
      {{'IForgotMyPassword' | globalizationdictionary}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="box-form" [formGroup]="userForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'Username' | globalizationdictionary }}</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="!userForm.controls['username'].valid&&userForm.controls['username'].dirty">
          {{userForm.controls['username'].errors['required'] ? globalizationMessagesByParameter('DangerFieldIsEmpty','Username') : userForm.controls['username'].errors['minlength'] ? globalizationMessagesByParameter2('DangerFieldLengthLimit','Username','8') : ''}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" class="btn-block" [disabled]="!userForm.valid">{{ 'Send' | globalizationdictionary }}</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button routerLink="/Authentication/Login">{{'Login' | globalizationdictionary}}</a>
    <a mat-flat-button routerLink="/Authentication/Register">{{'Register' | globalizationdictionary}}</a>
  </mat-card-actions>
</mat-card>
