<ion-header>
  <ion-toolbar>
    <ion-title>Giriş Yap</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (submit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Kullanıcı Adı</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parola</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit()" expand="block">Giriş</ion-button>
  </form>
</ion-content>
  